---
layout: base
title: Quiénes Somos
description: ¿Quiénes son estas personas y por qué están escribiendo sobre Costa Rica?
mainContentClass: main-content-about
locale: es
permalink: /es/pages/about/
---

<section class="about-section">
    <div class="container">
        <div class="about-content">
            <div class="about-image">
                <img
                    src="/assets/images/about_us_beach.jpg"
                    alt="Disfrutando de una comida en un restaurante local con vista al océano"
                    loading="lazy">
            </div>
            <h1 class="page-title">{{ translations.es.about.title }}</h1>
            <div class="about-text">
                <p>Somos una familia de Colorado en los Estados Unidos. No nos cansamos de las montañas, estar al aire libre y llevar a
                    nuestro perro Spyro con nosotros a todas partes. Nos encantaba vivir en Colorado. Mi esposo trabaja en tecnología y yo
                    soy terapeuta del habla y lenguaje.</p>
                <p>
                    Incluso con nuestros trabajos profesionales, la vida en los Estados Unidos se sentía como una cinta sin fin:
                    trabajo-cocinar-cena-dormir-despertar-trabajo... No teníamos tanto tiempo, dinero o energía para las aventuras que
                    queríamos tener. Comenzamos a hablar sobre mudarnos a un nuevo lugar.</p>
                <p>Pero cuando eres de uno de los lugares más hermosos del planeta, ¿a dónde puedes ir desde allí?
                </p>
                <p>Consideramos el noroeste del Pacífico de EE. UU., pero tiene todos los mismos problemas de inaccesibilidad que aquí,
                    y más. También pensamos en Hawái: hermoso con clima tropical, pero probablemente aún menos asequible que Colorado.
                </p>
                <p>En noviembre de 2024, probablemente sin una razón específica, comenzamos a pensar en mudarnos fuera de los EE. UU.
                    Las posibilidades eran infinitas. Somos una pareja activa y saludable con un niño de 6 años extremadamente activo y
                    adaptable. Mickey sabe francés; yo sé algo de español. Consideramos Francia o algún lugar en la UE, pero parecía que
                    muchas de nuestras opciones eran solo un paso lateral, un movimiento horizontal que ciertamente sería una vida
                    diferente, pero ¿una mejor? ¿Era eso posible?</p>
                <p>¿Qué estábamos buscando? Un lugar hermoso, buen clima, gente feliz, una cultura relajada, un escape del consumismo
                    sin fin, comida deliciosa y muchas actividades al aire libre.
                </p>
                <p>Nuestra búsqueda se redujo a Centroamérica y luego a Costa Rica. Cumplió con todas las casillas en nuestra lista y
                    más: Costa Rica está en la zona horaria central, lo que significa que podemos trabajar de forma remota para empresas
                    estadounidenses mucho más fácilmente.
                </p>
                <p>Únase a nosotros mientras empacamos nuestras vidas en los EE. UU. y comenzamos de nuevo en las selvas de Costa Rica.</p>
            </div>
        </div>
    </div>
</section>
